    body {
        margin: 0;
        font-family: Arial;
    }


    .menu {
        background: #3b3f4a;
        color: white;
        padding: 15px;
        overflow: hidden;
    }

    .menu h2 {
        float: left;
        margin: 0;
    }

    .menu nav {
        float: right;
    }

    .menu a {
        color: white;
        text-decoration: none;
        margin-left: 20px;
    }



    .principal {
        background: #e6e6e6;
        padding: 60px;
        overflow: hidden;
    }

    .img1 {
        float: left;
        width: 40%;
    }

    .img1 img {
        width: 300px;
    }

    .texto {
        float: left;
        width: 50%;
    }

    .texto h1 {
        color: #ff5722;
        font-size: 40px;
    }

    .boton {
        background: #ff5722;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
    }



    .perfil {
        background: #ff5722;
        color: white;
        text-align: center;
        padding: 3px;
    }

    .avatar {
        width: 150px;
        border-radius: 100px;
    }



    .proyectos {
        padding: 50px;
        background: #f5f5f5;
        text-align: center;
    }

    .card {
        width: 20%;
        float: left;
        margin: 2%;
        background: white;
        padding: 15px;
    }

    .card img {
        width: 100%;
    }

.card img{
width:100%;
}
