body{
margin:0;
font-family:Arial;
}

header{
background:hsl(240, 13%, 58%);
color:white;
padding:15px;
}

.logo{
display:inline-block;
margin:0;
}

nav{
float:right;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}


.inicio{
background:#f2f2f2;
text-align:center;
padding:60px;
}

.img1{
width:200px;
margin-bottom:20px;
}

.texto h1{
color:#ff381e;
}

button{
background:#ff1212;
color:white;
border:none;
padding:10px 20px;
margin-top:10px;
}


.perfil{
background:#f56262;
color:white;
text-align:center;
padding:60px;
}

.perfil-img{
width:150px;
border-radius:100px;
margin-bottom:20px;
}


.proyectos{
text-align:center;
padding:50px;
}

.card{
width:200px;
border:1px solid #ddd;
display:inline-block;
margin:10px;
padding:15px;
vertical-align:top;
}

.card img{
width:100%;
}